<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoExemplo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProcessaNomeServlet</display-name>
    <servlet-name>ProcessaNomeServlet</servlet-name>
    <servlet-class>controller.ProcessaNomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessaNomeServlet</servlet-name>
    <url-pattern>/processa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RespostaServlet</display-name>
    <servlet-name>RespostaServlet</servlet-name>
    <servlet-class>controller.RespostaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RespostaServlet</servlet-name>
    <url-pattern>/RespostaServlet</url-pattern>
  </servlet-mapping>
</web-app>